sqlalchemy
geoalchemy2
psycopg2-binary
flask
flask-cors
fire
tabulate
tqdm
overpy
shapely>=1.8.0,<2.0
requests
beautifulsoup4
lxml
openpyxl
python-dateutil
pandas
geopandas
stdiomask
streamlit
streamlit_ace
extra-streamlit-components
universal-analytics-python3
