<ng-container *ngIf="exercise; else notFound">
<div class="clr-row wrap-row">
  <div class="clr-col-lg-5 clr-col-md-12">
    <app-sql-input
      [sql]="prefill"
      (result)="onSqlExecuted($event)"
      [safeMode]="!exercise.disableSafeMode"
      (addExplainChange)="explain = $event"
      (safeModeChange)="safeMode = $event"
    ></app-sql-input>
  </div>

  <div class="clr-col-lg-7 clr-col-md-12">

    <clr-tabs>

      <clr-tab>
        <button clrTabLink>Task Description</button>
        <clr-tab-content>
          <div class="clr-row" style="margin: 0; padding: 0px; max-width: 98%;">
            <!-- info Panel -->
            <div class="clr-col-9" style="overflow-x: auto;">
              <app-exercise-progress-detail [exerciseId]="exerciseId"></app-exercise-progress-detail>
            </div>
            <div class="clr-col-3" style="display: flex; flex-direction: column; justify-content: center">
            <div style="display: flex; flex-direction: row; justify-content: center;">
              <app-previous-exercise-button [exerciseId]="exerciseId" [btnClasses]="['btn-sm', 'btn-primary']"></app-previous-exercise-button>
              <app-next-exercise-button [exerciseId]="exerciseId" [btnClasses]="['btn-sm', 'btn-primary']"></app-next-exercise-button>
            </div>
          </div>
          <div class="clr-col-12" style="max-width: 992px;">
            <h2>{{ exercise.name }}</h2>
            <app-exercise-body [body]="exercise.body"></app-exercise-body>
          </div>
          </div>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Results</button>
        <clr-tab-content *clrIfActive="forceResultTab">
          <app-exercise-compare [exercise]="exercise" [explain]="explain" [safeMode]="safeMode" [result]="result"></app-exercise-compare>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Query History</button>
        <clr-tab-content>
          <h2 style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 1.2rem;">
            <span>Query History</span>
            <div class="btn-group btn-icon btn-default">
              <button class="btn" (click)="historyUseList = true" [disabled]="historyUseList">
                <clr-icon shape="view-list"></clr-icon>
                </button>
              <button class="btn" (click)="historyUseList = false" [disabled]="!historyUseList">
                <clr-icon shape="table"></clr-icon>
                </button>
            </div>
          </h2>
          <ng-container *ngIf="historyUseList">
            <app-history-list></app-history-list>
           </ng-container>
           <ng-container *ngIf="!historyUseList">
            <app-history-table [pageSize]="10" [pageSizeOptions]="[3, 5, 10, 25]"></app-history-table>
           </ng-container>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Database Information</button>
        <clr-tab-content>
          <app-schema-inspector></app-schema-inspector>
        </clr-tab-content>
      </clr-tab>

    </clr-tabs>

  </div>
</div>

</ng-container>

<ng-template #notFound>
  <p>
    <i>The requested resource could not be loaded. No idea why.</i>
  </p>
</ng-template>
