<ng-container *ngIf="exercise; else notFound">
  <div class="clr-row">
    <div class="clr-col-10" style="overflow-x: auto;">
      <app-exercise-progress-detail [exerciseId]="exerciseId"></app-exercise-progress-detail>
    </div>
    <div class="clr-col-2">
      <app-next-exercise-button [exerciseId]="exerciseId" ></app-next-exercise-button>
    </div>
  </div>
  <h1>{{ exercise.name }}</h1>
  <app-exercise-body [body]="exercise.body"></app-exercise-body>

  <app-exercise-compare [exercise]="exercise"></app-exercise-compare>

</ng-container>

<ng-template #notFound>
  <p>
    <i>The requested resource could not be loaded. No idea why.</i>
  </p>
</ng-template>
