<clr-header class="header-6">

    <div class="branding">
        <img src="assets/logo.png">
        hydrocode
    </div>

<!--    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/console" routerLinkActive="active" class="nav-link nav-text">SQL Playground</a>
    </div>
-->
    <div class="header-actions">
        <a routerLink="/console" class="nav-link nav-icon" aria-label="console">
            <clr-icon shape="terminal"></clr-icon>
        </a>
        <a routerLink="/settings" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>

</clr-header>