<clr-datagrid>
  <clr-dg-column>Date</clr-dg-column>
  <clr-dg-column>Query</clr-dg-column>
  <clr-dg-column>Result</clr-dg-column>
  <clr-dg-column>Actions</clr-dg-column>

  <clr-dg-row *clrDgItems="let query of queries">
    <clr-dg-cell>{{ query.date | date:'d. MMM yyyy HH:mm' }}</clr-dg-cell>
    <clr-dg-cell>{{ query.body.content.length > 37 ? query.body.content.slice(0, 37) + '...' : query.body.content  }}</clr-dg-cell>
    <clr-dg-cell *ngIf="query.result">{{ query.result.data.length }} rows returned</clr-dg-cell>
    <clr-dg-cell *ngIf="!query.result"><i>no result</i></clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-icon tooltip tooltip-md" ngxClipboard [cbContent]="query.body.content" role="tooltip">
        <clr-icon shape="copy-to-clipboard"></clr-icon>
        <span class="tooltip-content">Copy SQL to clipboard</span>
      </button>

        <app-copy-query-run [queryRun]="query"></app-copy-query-run>

    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [clrDgTotalItems]="queries.length">
      <clr-dg-page-size [clrPageSizeOptions]="pageSizeOptions" >Show</clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{pagination.lastItem + 1}} of {{ queries.length }} queries
    </clr-dg-pagination>
    <button class="btn btn-link" (click)="onDeleteHistory()">DELETE ALL</button>
  </clr-dg-footer>
</clr-datagrid>
