<div class="card">
  <div class="card-header">{{ track.name }}</div>

  <ng-container *ngIf="!showExercises; else exercises">
    <div class="card-img">
      <clr-icon shape="bank" size="72" *ngIf="!track.options.image"></clr-icon>
      <ng-container *ngIf="track.options.image">
        <clr-icon *ngIf="track.options.image.type === 'icon'" [attr.shape]="track.options.image.src" size="72"></clr-icon>
        <img class="main-track-image" *ngIf="track.options.image.type !== 'icon'" [src]="track.options.image.src">
      </ng-container>
    </div>
    <div class="card-block">
      <p class="card-text" [innerHTML]="track.description"></p>
    </div>
  </ng-container>

  <div class="card-footer">
    <div class="progress tooltip tooltip-lg tooltip-top">
      <progress [max]="allExercises.length" [value]="finishedExercises"></progress>
      <span class="tooltip-content">
        You progress on <code>{{ track.name.length > 25 ? track.name.slice(0, 22) + '...' : track.name }}</code><br>
        {{ finishedExercises }} of {{ allExercises.length }} ({{ finishedExercises / allExercises.length * 100 | number }} %)
      </span>
    </div>
    <button type="button" class="btn btn-sm btn-link" *ngIf="!showExercises" (click)="showExercises = true">Exercises</button>
    <button type="button" class="btn btn-sm btn-link" *ngIf="showExercises" (click)="showExercises = false">Hide</button>
    <button type="button" class="btn btn-sm btn-link" (click)="onStartTrack()" [disabled]="activeTrackId && activeTrackId === track.id">Start</button>
  </div>

</div>

<ng-template #exercises>
  <div class="card-block">
    <app-exercise-list [exercises]="allExercises"></app-exercise-list>
  </div>
</ng-template>
