<div class="clr-row">
  <div class="clr-col-4">
    <clr-toggle-container>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle [(ngModel)]="addExplain">
        <label>Explain results</label>
      </clr-toggle-wrapper>
    </clr-toggle-container>
  </div>
  <div class="clr-col-4">
    <clr-toggle-container>
      <clr-toggle-wrapper class="tooltip tooltip-md tooltip-top-right">
        <input type="checkbox" clrToggle [(ngModel)]="safeMode" [disabled]="!enableSafeModeTrigger">
        <label>Safe mode: <code>{{ safeMode ? 'on' : 'off' }}</code></label>
        <span class="tooltip-content">In safe mode, only single SELECT queries are allowed.</span>
      </clr-toggle-wrapper>
    </clr-toggle-container>
  </div>
  <div class="clr-col-4">
    <button class="btn btn-flat btn-sm" style="float: right" [disabled]="sql==defaultSql" (click)="onReset()">RESET</button>
  </div>
</div>

<div style="height: 40vh; min-height: 350px; max-height: 80vh">
  <ngx-monaco-editor style="height: 100%;" [options]="{theme: 'vs-dark', language: 'sql'}" (ngModelChange)="onChange($event)" [ngModel]="sql"></ngx-monaco-editor>
</div>


<ng-container *ngIf="errorMessage">
  <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
    <clr-alert-item>
      <span class="alert-text" [innerHTML]="errorMessage"></span>
      <div class="alert-actions">
        <a href="https://github.com/data-hydenv/hydenv-database/issues/new?labels=bug,exercise-js&assignees=mmaelicke" target="_blank">
          <button class="btn alert-action btn-sm">ISSUE</button>
        </a>
      </div>
    </clr-alert-item>
  </clr-alert>
</ng-container>
<button class="btn btn-outline-success btn-block" (click)="onExecute()" [clrLoading]="btnState">Execute</button>
