<clr-header class="header-6">

    <div class="branding">
      <a routerLink="/" class="nav-link">
        <img src="assets/logo.png">
        <span class="title">hydrocode</span>
      </a>
    </div>

    <div class="header-nav" [clr-nav-level]="1">
        <a routerLink="/tracks" routerLinkActive="active" class="nav-link nav-text">Tracks</a>
        <a  *ngIf="activeTrack" class="nav-link nav-text tooltip tooltip-lg tooltip-bottom-right" [routerLink]="['/', 't', activeTrack.id]" routerLinkActive="active">
          {{ activeTrack.name.length > 40 ? activeTrack.name.slice(0, 37) + '...' : activeTrack.name }}
          <span class="tooltip-content">Track: {{ activeTrack.name }}</span>
        </a>
    </div>

    <div class="header-actions">
      <a class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-left" href="javascript://" (click)="onConnect()" aria-label="connection status">
        <clr-icon [attr.shape]="backendConnected ? 'link' : 'unlink'"></clr-icon>
        <span class="tooltip-content">The backend server is: <code>'{{ backendConnected ? 'online' : 'offline' }}'</code></span>
      </a>
        <a routerLink="/console" routerLinkActive="active" class="nav-link nav-icon" aria-label="console">
            <clr-icon shape="terminal"></clr-icon>
        </a>
        <clr-dropdown>
          <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
            <clr-icon shape="cog"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a routerLink="/settings" clrDropdownItem>Settings</a>
            <a clrDropdownItem [disabled]="true">Login</a>
            <a clrDropdownItem [disabled]="true">Version {{ version }}</a>
          </clr-dropdown-menu>
        </clr-dropdown>
    </div>

</clr-header>
